body{
  margin: 30px;
  border-width: 5px; 
  border-color: red;
  border-style: solid;
  padding: 20px; 
}


.header-footer{
  background-color: lightblue;
  font-family: sans-serif;
  padding: 16px;
}


main{
  padding: 20px;
}


h1{
  margin: 0;
  padding-top: 16px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h2{
  margin-bottom: 16px;
}
#small-text{
  font-size: 8px;
}